body {
	color: white;
	font-family: arial;
}
.banner {
	position: absolute;
	top: 0;
}
.console {
	width: 800px;
	height: 700px;
	margin: 30px auto 0 auto;
	background-color: #4b3227;
	border-radius: 10px;
	box-shadow: 1px 1px 50px 5px black;
	padding: 50px;
	box-sizing: border-box;
}
.regras {
	position: absolute;
	right: 0;
	margin: 20px;
	width: 350px;
	height: 300px;
	background-color: #4b3227;
	box-shadow: 1px 1px 50px 5px black;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
}
h2 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}
.regra {
	width: 60px;
	height: 60px;
}
.game {
	text-align: center;
	margin-top: 45px;
}
h1 {
	font-size: 60px;
	font-family: fantasy;
	letter-spacing: 3px;
	margin-top: -40px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}
.escolha-mao {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-top: -30px;
}
.Jchooses {
	border: 5px outset white;
	padding: 25px 50px;
	border-radius: 10px;
	background-color: #359dd5;
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 16px;
}
.Cchooses {
	border: 5px outset white;
	padding: 25px 50px;
	border-radius: 10px;
	background-color: #d53535;
	font-weight: bold;
	font-family: Arial;
}
.Options {
	border: 5px outset white;
	padding: 25px 50px;
	border-radius: 10px;
	font-weight: bold;
	margin: 10px;
	font-family: Arial;
	font-size: 16px;
}

.placar {
	background-color: white;
	padding: 5px 10px;
	color: black;
	border: 1px solid black;
}
.placar-text{
	font-size: 25px;
	font-weight: 800;
	margin-top: 0;

}
.resultado {
	position: absolute;
	margin-left: 550px;
	margin-top: 70px;
}
.escolha-do-jogador {
	margin-top: -80px;
}
.posicao-escolha-computador {
	margin: 60px;
}
.posicao-escolha-jogador {
	margin-top: 150px;
}